@font-face {
	font-family: "Archer-Book";
	src: url('../fonts/Archer-Book.otf') format('opentype');
	font-weight: normal;
	font-style: normal; 
}
@font-face {
	font-family: "Archer-Book";
	src: url('../fonts/Archer-BookItalic.otf') format('opentype');
	font-weight: normal;
	font-style: italic; 
}
@font-face {
	font-family: "Archer-Book";
	src: url('../fonts/Archer-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal; 
}
@font-face {
	font-family: "Archer-Book";
	src: url('../fonts/Archer-BoldItalic.otf') format('opentype');
	font-weight: bold;
	font-style: italic; 
}
@font-face {
	font-family: "Archer-Book";
	src: url('../fonts/Archer-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal; 
}
@font-face {
	font-family: "Archer-Book";
	src: url('../fonts/Archer-LightItalic.otf') format('opentype');
	font-weight: 300;
	font-style: italic; 
}
@font-face {
	font-family: "Archer-Book";
	src: url('../fonts/Archer-ExtraLight.otf') format('opentype');
	font-weight: 200;
	font-style: normal; 
}
@font-face {
	font-family: "Archer-Book";
	src: url('../fonts/Archer-ExtraLightItalic.otf') format('opentype');
	font-weight: 200;
	font-style: italic; 
}
@font-face {
	font-family: "Archer-Book";
	src: url('../fonts/Archer-Hairline.otf') format('opentype');
	font-weight: 100;
	font-style: normal; 
}
@font-face {
	font-family: "Archer-Book";
	src: url('../fonts/Archer-HairlineItalic.otf') format('opentype');
	font-weight: 100;
	font-style: italic; 
}