@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

body {
	//background-color: green;
	position: relative;
	background: url(../images/bg.jpg);
	background-repeat: repeat-x repeat-y;
}

.imgContainer {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	.bgImage {
		//@include position(absolute, 0, 0, 0, 0);
		display: block;
		width: 100%;
		height: auto;
		z-index: 10;
	}
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 500;
}
//<img alt="img" src="http://dummyimage.com/1200x1800/a49bd5/9bd5a4">
//<img alt="img" src="http://dummyimage.com/1200x1800/b49da5/9bd5a4">
//<img alt="img" src="http://dummyimage.com/1200x1800/a4e5d5/9bd5a4">
.container {
	&.myCarousel {
		width: auto;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		.carousel-inner {
			
			.item {
				//background: url(../images/bg1.jpg);
				background-repeat: repeat-x repeat-y;
				width: 100%;
				
				position: relative !important;
				//height: 100%;
				//height: 100%;

				// img {
				// 	display: block;
				// 	@include position(absolute);

				// 	height: 100%;
				// 	width: 100%;
					
				// }

				// -webkit-transition: 0.3s ease-in-out left;
				// transition: 0.3s ease-in-out left;
				// -webkit-transition: 0.3s, ease-in-out, left;
				// -moz-transition: .3s, ease-in-out, left;
				// -o-transition: .3s, ease-in-out, left;
				// transition: .3s, ease-in-out, left;

			}
		}
	}
}
//palatino, PT Serif Caption
//adobe devangari
//adobe hebrew
//adobe gumuhi
//arabic typesetting

.title {
	padding: 0 15px;
	font-style: italic;
	font-style: 25px;
}
.itemsList {
	display: block;
	list-style: none;
	font-size: 0;
	padding: 5px 15px;
	li {
		font-size: 18px;
		display: block;
		span {
			&:first-child {
				margin-left: 0;
			}
			display: block;
			color: black;
			display: inline-block;
			vertical-align: top;
			font-style: italic;
			margin-left: 3%;

		}
		.name {
			width: 30%;
		}
		.description {
			width: 50%;
		}
		.price {
			width: 10%;
			&:after {
				content:":-";
			}
			text-align: right;
		}
	}
}
