@import "fonts";

/// Font Sizes parameters
$small: 25px;
$normal: 30px;
$large: 35px;
$extra: 40px;
$huge: 50px;
//@include font-face("Blooming Grove", font-files("examples/bgrove.ttf", "examples/bgrove.otf"));

%fontArcher {
	font-family: "Archer-Book", Helvetica, Arial, sans-serif;  
}
@mixin position($position: absolute, $top: auto, $right: auto, $bottom: auto, $left: auto) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

body {
	//background-color: green;
	position: relative;
	background: url(../images/122.jpg);
	background-repeat: repeat-x repeat-y;
	@extend %fontArcher;
}

.container {
	&.myCarousel {
		width: auto;
		margin: 0;
		padding: 0;
		.carousel-inner {
			.item {
				//background-repeat: repeat-x repeat-y;
				width: 100%;
			}
		}
	}
}

.item {
	&.withBG {
		.imageContainer {
			@include position(relative, 0, 0, 0, 0);
			.bgImage {
				display: block;
				width: 100%;
				height: 100%;
				z-index: 10;
			}
		}
		.menus {
			@include position(absolute, 0,0,0,0);
		}
	}
	
	.menus {
		@include position(relative, 0,0,0,0);
		list-style: none;
		font-size: 0;
		padding-left: 0;
		span {
			@extend %fontArcher;
			font-size: $small;
			font-weight: 400;
			font-style: italic;
			padding: 5px 15px;
			color: black;
			display: inline-block;
			vertical-align: middle;
			margin-left: 1%;
			&:first-child {
				margin-left: 0;
			}
		}
		li {
			font-size: $small;
			display: block;
			.name {
				width: 30%;
				font-size: $normal;
			}
			.description {
				width: 50%;
				font-size: $small;
			}
			.price {
				text-align: left;
				font-size: $normal;
				&.large {
					width: 8%;
					font-size: $large;
				}
				&.small {
					width: 6%;
				}
			}
		}
		.title {
			font-style: italic;
			font-size: $extra;
			margin-top: 40px;
			&:first-child {
				margin-top: 30px;
			}
			span {
				font-size: $extra;
				&.price {
					&.large {
						font-size: $extra;
					}
				}
			}
			.description {
				font-size: $normal;
			}
		}
	}
}


