@mixin position($position: absolute, $top: auto, $right: auto, $bottom: auto, $left: auto) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

body {
	//background-color: green;
	position: relative;
	background: url(../images/bg.jpg);
	background-repeat: repeat-x repeat-y;
}

.menus {
	@include position(absolute, 0,0,0,0);
	list-style: none;
	li {
		display: block;
	}
	* {
		color: white !important;
	}
}

///////// OK Part above
.imgContainer {
	@include position(relative, 0, 0, 0, 0);
	.bgImage {
		display: block;
		width: 100%;
		height: auto;
		z-index: 10;
	}
}

.menu {
	// position: absolute;
	// top: 0;
	// left: 0;
	// right: 0;
	// bottom: 0;
	// z-index: 500;
}
//<img alt="img" src="http://dummyimage.com/1200x1800/a49bd5/9bd5a4">
//<img alt="img" src="http://dummyimage.com/1200x1800/b49da5/9bd5a4">
//<img alt="img" src="http://dummyimage.com/1200x1800/a4e5d5/9bd5a4">
// FONTS
//palatino, PT Serif Caption
//adobe devangari
//adobe hebrew
//adobe gumuhi
//arabic typesetting
.container {
	&.myCarousel {
		width: auto;
		margin: 0;
		padding: 0;
		.carousel-inner {
			.item {
				background-repeat: repeat-x repeat-y;
				width: 100%;
			}
		}
	}
}

.title {
	padding: 0 15px;
	font-style: italic;
	font-style: 25px;
}
.itemsList {
	display: block;
	list-style: none;
	font-size: 0;
	padding: 5px 15px;
	li {
		font-size: 18px;
		display: block;
		span {
			&:first-child {
				margin-left: 0;
			}
			display: block;
			color: black;
			display: inline-block;
			vertical-align: top;
			font-style: italic;
			margin-left: 3%;

		}
		.name {
			width: 30%;
		}
		.description {
			width: 50%;
		}
		.price {
			width: 10%;
			&:after {
				content:":-";
			}
			text-align: right;
		}
	}
}
